<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        * {
            color: #757575;
            transition: all .3s ease-in-out;
            position:relative;
        }
    </style>
</head>
<body id="ContactUs">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height:100px;">
        <a href="#" class="navbar-brand"><img src="../../Image/CiTiTransportLogo.jpg" style="width: 115px; height:100px;" alt="" /><span>CiTi Transport Pvt. Ltd.</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu" style="margin-right:120px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="TempHome.html" class="nav-link" id="Home">Home</a></li>
                <li class="nav-item"><a href="TransportMgt.html" class="nav-link">Transportation Management</a></li>
                <li class="nav-item"><a href="LogisticServices.html" class="nav-link">Logistic Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Freight Audit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Technology Logins</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ExecutiveProfiles.html" id="Executive_Profiles">Executive Profiles</a>
                        <a class="dropdown-item" href="ContactUs.html" id="ContactUs">Contact Us</a>
                        <a class="dropdown-item" href="CompAddress.html" id="Address">Address</a>
                        <a class="dropdown-item" href="PhotoGallery.html" id="PhotoGallery">Photo Gallery</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>          
    <p>=================================================================================================================================================================</p>
    <div style="margin:auto;position:relative; color:orangered;transition:ease-in-out;">
        <p style="margin-left:160px; font-size:25px;">Corporate Office</p>

        <p style="margin-left:260px; font-size:20px;"> The FSL Group, Inc.</p>
        <p style="margin-left:260px; font-size:14px;">830 Eagles Landing Pkwy Suite 202</p>
        <p style="margin-left:260px; font-size:14px;">Stockbridge, GA 30281</p>
        <p style="margin-left:260px; font-size:14px;">Toll Free: (800) 758-4290</p>
        <p style="margin-left:260px; font-size:14px;">Phone:    (770) 506-9100</p>
        <p style="margin-left:260px; font-size:14px;">Fax:      (770) 506-7371</p>

        <p style="margin-left:260px; font-size:25px;"> Mailing Address</p>
        <p style="margin-left:260px; font-size:14px;"> P.O. Box 405</p>
        <p style="margin-left:260px; font-size:14px;"> Stockbridge, GA 30281-0405</p>
        <br />
        <p style="margin-left:160px; font-size:25px;">Logistics Office</p>

        <p style="margin-left:260px; font-size:20px;"> FSL Logistics</p>
        <p style="margin-left:260px; font-size:14px;">830 Eagles Landing Pkwy Suite 202</p>
        <p style="margin-left:260px; font-size:14px;">Stockbridge, GA 30281</p>
        <p style="margin-left:260px; font-size:14px;">Toll Free: (866) 795-9872</p>
        <p style="margin-left:260px; font-size:14px;">Local:      (404) 975-0575</p>
        <p style="margin-left:260px; font-size:14px;">Fax:         (404) 975-0583</p>

        <p style="margin-left:260px;font-size:25px;"> Mailing Address</p>
        <p style="margin-left:260px; font-size:14px;"> P.O. Box 987</p>
        <p style="margin-left:260px; font-size:14px;"> Stockbridge, GA 30281</p>
    </div>
    
</body>
</html>
