<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        body {
            background-color: #EEE;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container {
            background-color: white;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        /*#header {
            background-color: #66CCFF;
            color: white;
            text-align: center;
            padding: 10px;
        }*/

        #content {
            padding: 10px;
        }

        #nav {
            width: 390px;
            float: left;
        }

        #main {
            width: 390px;
            float: right;
        }
        
        #footer1 {
            clear: both;
            padding: 10px;
            color:#333333;
            background-color: #292929;
            
        }
        #footer2 {
            clear: both;
            padding: 10px;
            color:#D2D2D2;
            background-color: #383838;            
        }
        #footer {
            clear: both;
            padding: 10px;
            background-color: #999999;
            color: white;
            text-align: right;
        }
        

        h1, h2, h3 {
            margin: 0;
        }
    </style>
    <script type="text/javascript">
        function bigImg(x) {
            x.style.height = "327px";
            x.style.width = "320px";
        }

        function normalImg(x) {
            x.style.height = "307px";
            x.style.width = "300px";
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height:100px;">       
        <a href="#" class="navbar-brand"><img src="../../Image/CiTiTransportLogo.jpg" style="width: 115px; height:100px;" alt="" /><span>CiTi Transport Pvt. Ltd.</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu" style="margin-right:120px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="TempHome.html" class="nav-link" id="Home">Home</a></li>
                <li class="nav-item"><a href="TransportMgt.html" class="nav-link">Transportation Management</a></li>
                <li class="nav-item"><a href="LogisticServices.html" class="nav-link">Logistic Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Freight Audit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Technology Logins</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ExecutiveProfiles.html" id="Executive_Profiles">Executive Profiles</a>
                        <a class="dropdown-item" href="ContactUs.html" id="ContactUs">Contact Us</a>
                        <a class="dropdown-item" href="CompAddress.html" id="Address">Address</a>
                        <a class="dropdown-item" href="PhotoGallery.html" id="PhotoGallery">Photo Gallery</a> 
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <!--<div id="header">
            <h1>Address</h1>
        </div>-->
        <div id="content">
            <div id="nav">
                <div class="row" style="margin-top:0px;">                    
                    <div class="column">                        
                        <img src="../../Image/Crowley_3.jpg" alt="Snow" style="width: 300px;height: 307px; margin-left: 62px; " onmouseover="bigImg(this)" onmouseout="normalImg(this)">

                    </div>                    
                </div>
                <br />
                <h5>Katherine Crowley</h5>
                <h5>Owner and Chairman of the Board </h5>
                <p>
                    The FSL Group’s owner and Chairman of the Board, Katherine Crowley, 
                    is a highly respected leader in the transportation and logistics industry.
                </p>
                <p>
                    Prior to establishing FSL, Crowley spent her long career in sales and management roles, 
                    tenaciously learning every aspect of her trade from the ground up. This has given her a unique and innovative perspective of the industry, 
                    which has enabled her to guide the growth of FSL from a small consultancy to the portfolio of growth-driven companies that it is today.
                </p>
                <p>
                    Crowley is a long-standing member of NASSTRAC and The National Industrial Transportation League. She has been a regular speaker at industry events, 
                    sharing her knowledge and experience with clients and colleagues alike.
                </p>
                <p>Crowley resides in Atlanta, GA, where she enjoys spending time with family and friends.</p>
            </div>
            <div id="main" style="margin:auto;position:relative; transition:ease-in-out;">
                <div class="row" style="margin-top:0px;">
                    <div class="column">                        
                        <img src="../../Image/Rick McDonald Website.jpg" alt="Snow" style="width: 300px;height: 307px; margin-left: 60px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">

                    </div>
                </div>
                <!--<div id="subcontent">-->
                <br />
                <h5>Rick McDonald</h5>
                <h5>President & CEO</h5>
                    <p>
                        Rick McDonald started working at the age of 14 and has never stopped. 
                        He’s always loved the professional joy and fulfillment that comes from the successful achievement of the loftiest of
                        business and personal goals – those set by himself,
                        his teammates and his customers.
                    </p>
                    <p>
                        He is a senior operating executive with broad-based manufacturing, sales/marketing, business development, supply chain, 
                        and logistics experience. He is an 80/20 driven leader with a significant record of accomplishments in strategy, product development, 
                        and in leading enterprise wide change that jump starts revenue growth, operating efficiencies, and profits. 
                        He has a proven record of establishing clear goals, identifying necessary roles and leveraging talents for maximum benefits.  
                        Rick excels at building and inspiring great teams that are able to simplify environments, 
                        reduce waste and costs and improve productivity and efficiencies.
                    </p>
                    <p>
                        Rick lives in the greater Atlanta area and works out of the FSL Group’s corporate office in Stockbridge.
                    </p>

                <!--</div>-->
            </div>

        </div>
        <br />
        <div id="footer1">            
        </div>
        <div id="footer2">
            
        </div>
        <div id="footer">
            Copyright &copy; 2019 CiTi Transport.
        </div>
    </div>
</body>
</html>
