<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        body {
            background-color: #EEE;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container {
            background-color: white;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        #header {
            background-color: #66CCFF;
            color: white;
            text-align: center;
            padding: 10px;
        }

        #content {
            padding: 10px;
        }
         #subcontent {
            padding: 10px;
        }

        #nav {
            width: 400px;
            float: left;
        }

        #main {
            width: 380px;
            float: right;
        }

        #footer {
            clear: both;
            padding: 10px;
            background-color: #999999;
            color: white;
            text-align: right;
        }
        #footer1 {
            clear: both;
            padding: 10px;
            color:#333333;
            background-color: #292929;
            
        }
        #footer2 {
            clear: both;
            padding: 10px;
            color:#D2D2D2;
            background-color: #383838;            
        }

        h1, h2, h3 {
            margin: 0;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
}
    </style>
    <script type="text/javascript">
        function bigImg(x) {
            x.style.height = "120px";
            x.style.width = "150px";
        }

        function normalImg(x) {
            x.style.height = "100px";
            x.style.width = "130px";
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height:100px;">
        <!--<img src="../../Image/CiTi_Logo.jpg" />-->
        <!--<img src="../../Image/CiTi_Transport_Logo.jpg" />-->
        <a href="#" class="navbar-brand"><img src="../../Image/CiTiTransportLogo.jpg" style="width: 115px; height:100px;" alt="" /><span>CiTi Transport Pvt. Ltd.</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu" style="margin-right:120px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="TempHome.html" class="nav-link" id="Home">Home</a></li>
                <li class="nav-item"><a href="TransportMgt.html" class="nav-link">Transportation Management</a></li>
                <li class="nav-item"><a href="LogisticServices.html" class="nav-link">Logistic Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Freight Audit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Technology Logins</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ExecutiveProfiles.html" id="Executive_Profiles">Executive Profiles</a>
                        <a class="dropdown-item" href="ContactUs.html" id="ContactUs">Contact Us</a>
                        <a class="dropdown-item" href="CompAddress.html" id="Address">Address</a>
                        <a class="dropdown-item" href="PhotoGallery.html" id="PhotoGallery">Photo Gallery</a>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <div id="header">
            <h1>Logistic Service</h1>
        </div>
        <div id="content">
            <div id="subcontent">
                <p>The Logistics Division of the FSL Group is a full service transportation provider.  While we can be relied upon to manage those singular, 
                specialized shipments, we can also effectively sustain your day-to-day supply chain requirements. 
                In fact, because of the relationships we maintain with hundreds of vendors, we can often provide pricing and solutions that might not otherwise 
                be accessible, especially to smaller shippers. With our highly qualified, hands-on operation staff and our substantial pool of diverse resources,
                if we don’t already have an answer for you, we know how to find one quickly. </p>

            </div>
            <div id="nav">
                <h5>Some distinctive advantages to employing our Logistics services are:</h5>
                <ul>
                    <li><p>Highly personalized customer service and a commitment to go the extra mile to achieve customer satisfaction</p></li>
                    <li><p>Determination to ensure that each shipment is executed efficiently – from pickup to delivery</p></li>
                    <li><p>Analysis to eliminate recurring service failure in problematic areas </p></li>
                    <li><p>Regional and national warehousing and distribution capacities</p></li>
                    <li><p>Expedited Service</p></li>
                    <li><p>Web-based visibility of current status of shipments from pick up to delivery</p></li>
                    <li><p>POD retrieval</p></li>
                    <li><p>Customized transportation management reports</p></li>
                    <li><p>Problem solving proficiency regarding both transactional and persistent supply chain complexities</p></li>
                    <li><p>And FSL Logistics is equipped to provide virtually any mode of transport you require, including:</p></li>
                    <li><p>LTL</p></li>                    
                </ul>                                
            </div>
            <div id="main" style="margin:auto;position:relative; transition:ease-in-out;">
                <div class="row" style="margin-top:80px;">
                    <div class="column">
                        <img src="../../Image/img_snow.jpg" alt="Snow" style="width: 130px; height: 100px; " onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                    <div class="column">
                        <img src="../../Image/img_forest.jpg" alt="Forest" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
                    </div>
                    <div class="column">
                        <img src="../../Image/img_mountains.jpg" alt="Mountains" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                </div>
                <div class="row" style="margin-top:0px;">
                    <div class="column">
                        <img src="../../Image/img_snow.jpg" alt="Snow" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                    <div class="column">
                        <img src="../../Image/img_forest.jpg" alt="Forest" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
                    </div>
                    <div class="column">
                        <img src="../../Image/img_mountains.jpg" alt="Mountains" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                </div>
                <div class="row" style="margin-top:0px;">
                    <div class="column">
                        <img src="../../Image/img_snow.jpg" alt="Snow" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                    <div class="column">
                        <img src="../../Image/img_forest.jpg" alt="Forest" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)" />
                    </div>
                    <div class="column">
                        <img src="../../Image/img_mountains.jpg" alt="Mountains" style="width: 130px; height: 100px;" onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                </div>
                <ul>
                    <li><p>Partials – Van or Flatbed</p></li>
                    <li><p>Truckload – Van or Flatbed</p></li>
                    <li><p>Specialty Equipment (heavy-hauling, over dimensional, crane delivery, etc.)</p></li>
                    <li><p>Rail</p></li>
                    <li><p>Ocean – CL or LCL</p></li>
                    <li><p>Air/Expedited</p></li>
                    <li><p>Customized transportation management reports</p></li>
                    <li><p>Problem solving proficiency regarding both transactional and persistent supply chain complexities</p></li>
                </ul>                
            </div>                                                    
        </div>
        <div style="padding: 10px;">
            <p>We’re happy to provide consultation to identify and address all of our client’s transportation, warehousing, and distribution needs.</p>
            <p>With FSL Logistics, you need only make one contact: we’ll take it from there!</p> 
        </div>
        <div id="footer1">
        </div>
        <div id="footer2">

        </div> 
        <div id="footer">
            Copyright &copy; 2019 CiTi Transport.
        </div>

    </div>
</body>
</html>
