<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <style type="text/css">
        body {
            background-color: #EEE;
            font-family: Arial, Helvetica, sans-serif;
        }

        #container {
            background-color: white;
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        #header {
            background-color: #66CCFF;
            color: white;
            text-align: center;
            padding: 10px;
        }

        #content {
            padding: 10px;
        }
        #content_Below {
            padding: 10px;
        }
        #content_aboveFooter {
            padding: 10px;
        }
        #content1 {
            padding: 10px;
        }

        #nav {
            width: 430px;
            float: left;
        }

        #main {
            width: 350px;
            float: right;
        }

        #nav1 {
            width: 350px;
            float: left;
        }

        #main1 {
            width: 430px;
            float: right;
        }
        #footer {
            clear: both;
            padding: 10px;
            background-color: #999999;
            color: white;
            text-align: right;
        }
        #footer1 {
            clear: both;
            padding: 10px;
            color:#333333;
            background-color: #292929;
            
        }
        #footer2 {
            clear: both;
            padding: 10px;
            color:#D2D2D2;
            background-color: #383838;            
        }

        h1, h2, h3 {
            margin: 0;
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
}
    </style>
    <script type="text/javascript">
        function bigImg(x) {
            x.style.height = "307px";
            x.style.width = "370px";
        }

        function normalImg(x) {
            x.style.height = "287px";
            x.style.width = "350px";
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="height:100px;">
        <!--<img src="../../Image/CiTi_Logo.jpg" />-->
        <!--<img src="../../Image/CiTi_Transport_Logo.jpg" />-->
        <a href="#" class="navbar-brand"><img src="../../Image/CiTiTransportLogo.jpg" style="width: 115px; height:100px;" alt="" /><span>CiTi Transport Pvt. Ltd.</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu" style="margin-right:120px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="TempHome.html" class="nav-link" id="Home">Home</a></li>
                <li class="nav-item"><a href="TransportMgt.html" class="nav-link">Transportation Management</a></li>
                <li class="nav-item"><a href="LogisticServices.html" class="nav-link">Logistic Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Freight Audit</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Technology Logins</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="ExecutiveProfiles.html" id="Executive_Profiles">Executive Profiles</a>
                        <a class="dropdown-item" href="ContactUs.html" id="ContactUs">Contact Us</a>
                        <a class="dropdown-item" href="CompAddress.html" id="Address">Address</a>
                        <a class="dropdown-item" href="PhotoGallery.html" id="PhotoGallery">Photo Gallery</a>  
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <div id="header">
            <h1>Transportation Management</h1>
        </div>
        <div id="content">
            <h5>Supply Chain Analysis</h5>
            <p>Supply chain analysis is FSL’s quantitative evaluation of the individual elements of our client’s system of operation as it relates to transportation management, and the efficiency of this process in terms of time and cost. 
               From the procurement of raw materials to the delivery of the finished product, it is important that we understand the ‘how and why’ 
               of existing practices. This allows those practices to be tweaked in order to obtain optimal results – without altering the dynamics unnecessarily.
            </p>
            <p>FSL will use data gathered from the client to establish an overview of the transportation business flow. Once this process is complete,
               FSL will quantify and document the activities observed, then analyze the relative importance of each link in the chain. 
               This will enable us to make recommendations that will optimize the use of our client’s time and resources,
               with an eventual goal of increasing efficiency while reducing or maintaining cost.
            </p>
            <!--<div id="subcontent">
                <p>
                    The Logistics Division of the FSL Group is a full service transportation provider.  While we can be relied upon to manage those singular,
                    specialized shipments, we can also effectively sustain your day-to-day supply chain requirements.
                    In fact, because of the relationships we maintain with hundreds of vendors, we can often provide pricing and solutions that might not otherwise
                    be accessible, especially to smaller shippers. With our highly qualified, hands-on operation staff and our substantial pool of diverse resources,
                    if we don’t already have an answer for you, we know how to find one quickly.
                </p>

            </div>-->
            <br />
            <br />
            <div id="nav">
                <h5>Carrier Procurement</h5>
                <p>FSL Carrier Procurement entails identifying and vetting suitable carriers in order to offer comprehensive solutions designed to address 
                   the specific needs of our client. It is crucial to first accurately evaluate the unique dynamic of our client’s business, as it relates to 
                   the transport of goods, to accurately determine cost and service requirements. With an FSL program our clients can expect to:
                </p>
                <ul>
                    <li><p>Simplify carrier lane selection based on priorities which may differ between shipping lanes</p></li>
                    <li><p>Limit the number of carriers utilized in order to leverage transportation spend</p></li>
                    <li><p>Diminish the overhead associated with contract maintenance</p></li>
                    <li><p>Reduce or eliminate associated labor expenses and other related soft costs</p></li>
                    <li><p>Improve efficiency by providing carriers that fully satisfy client’s prerequisites</p></li>                    
                </ul>
            </div>
            <div id="main" style="margin:auto;position:relative; transition:ease-in-out;">
                <div class="row" style="margin-top:80px;">
                    <div class="column">                        
                        <img src="../../Image/TM_Mgmt_1.jpg" alt="Snow" style="width: 350px; height: 287px;margin-top: -42px; margin-left: 20px; " onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>                    
                </div>                               
            </div>
        </div>
        <div id="content1">
            <p>
                FSL will analyze data pertaining to the carrier/shipper partnership in specific traffic lanes,
                including volume, capacity and current expenditures.  Based on our conclusions, FSL will negotiate with selected carriers
                and implement a transportation program which will optimize cost objectives while ensuring that our client’s service requirements are effectively met.
            </p>    
        </div>
        <div id="content_Below">                                                     
            <div id="nav1">
                <div class="row" style="margin-top:80px;">
                    <div class="column">                        
                        <img src="../../Image/handshake_1.jpg" alt="Snow" style="width: 350px; height: 287px;margin-top: -42px; margin-left: 8px; " onmouseover="bigImg(this)" onmouseout="normalImg(this)">
                    </div>
                </div>
                
            </div>
            <div id="main1" style="margin:auto;position:relative; transition:ease-in-out;">
                <h5>Rate Negotiation</h5>
                <p>
                    FSL’s objective is to align our client’s unique transportation needs with carefully selected carriers in mutually beneficial partnerships. 
                    We find this to be the most productive way to ensure reliable and cost effective service.
                </p>
                <p>We realize that rate negotiation entails more than simply selecting carriers based on the lowest rate offered.
                 It is equally important to consider both the shipper’s specific needs in each traffic lane and the carrier’s main objectives in their pricing strategy. 
                 Additionally, carriers must be examined to evaluate their ability to consistently meet service requirements before they are invited to bid,
                 especially in those shipping lanes that demand critical or specialized service.
                </p>                
            </div>
        </div>
        <div id="content_aboveFooter">
            <p>
                Since FSL has associations with a host of carriers in every mode of transportation,
                we’re typically able to obtain pricing and commitments that might otherwise be unavailable to many shippers and distributors.
            </p>
            <p>Once carriers are selected, FSL will execute contracts and establish Routing Compliance measures to ensure program efficiency and success.</p>
            <h5>Routing Compliance</h5>
            <p>
                Once carrier lane assignments have been implemented, routing compliance becomes essential to successful transportation management.
                FSL will become your partner in assuring that things run as seamlessly as possible.  To achieve this goal, we will:
            </p>
            <ul>
                <li><p>Monitor and report adherence to lane assignments</p></li>
                <li><p>Continually evaluate carriers in terms of performance and claims</p></li>
                <li><p>React promptly to address changes in service needs as they are reported to FSL</p></li>
                <li><p>Routinely meet with carrier account executives to review performance and invoicing conformity</p></li>
                <li><p>Advocate on behalf of our client in the resolution of any discrepancies that arise</p></li>
            </ul>
            <p>
                With FSL feedback and the customized executive reports we can provide,
                our client will be equipped to assess realized savings as well as any cost associated with non-compliance.
            </p>
            <p>
                "When it comes to the delivery of your product, outstanding carriers are essential to success.
                They’re not the enemy, but rather a valuable ally. When choosing a carrier in any transportation mode,
                it’s critical to create a partnership in which both your objectives and those of the carrier are met.
                That’s always the goal of FSL: to achieve a win-win alliance that results in a satisfied client.”
            </p>
            <h5>Katherine Crowley, CEO </h5> 
        </div>
        <div id="footer1">
        </div>
        <div id="footer2">

        </div> 
        <div id="footer">
            Copyright &copy; 2019 CiTi Transport.
        </div>
    </div>
</body>
</html>
